* {
	box-sizing: border-box;
	font-weight: bold;
    font-family:monospace;
}

.row {
	width: 100%;
	position:relative;
	top: 40px;
}

.interiorBox-1, .interiorBox-2 {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 160px;
	background-color: gray;
	border: 1px solid black;
	overflow:auto;
}

#subTitleContainer {
	width: 100%;
	margin-bottom: 35px;
}


.dummyText {
	font-size: 16px;
	position: relative;
}

.subTitle {
	border: 1px solid black;
	font-size: 1.25em;
	float: right;	
}

h1{
	text-align: center;
	font-size: 1.75em;
	position:relative;
	top: 30px;
}


@media(min-width: 992px){
	
	.box-1, .box-2 {
		width: 33.33%;
		float: left;
	}
    
    .row {
    	top:170px;
    }

    h1 {
    	top: 70px;
    }

}

@media(min-width: 768px) and (max-width: 991px) {
	
	.box-1 {
		width: 50%;
		float: left;
	    margin-bottom: 35px;
	}

	.box-2 {
		clear: both;
		width:100%;
	}

	.interiorBox-2 {
		width: 95%;
	}

    .row {
    	top:130px;
    }

    h1 {
    	top: 70px;
    }

}

@media(max-width: 767px) {
	.box-1, .box-2 {
		margin-bottom: 15px;
	}
}
