* {
  	color: #000;
  	font-family: 'Varela Round', sans-serif;
  	font-size: 35px;
}




/* HEADER */

#header-nav {
	background-color: #949297;
	border-radius: 0;
	border: 3px solid #000;
}

#company-title .navbar-brand{
	width: 100%;
	font-weight: bolder;
	position: relative;
	top: 20px;
	left: -15px;
	font-size: 1em;
}


div > h1 {
    font-weight: bolder;
}


button.navbar-toggle {
	position: relative;
	top: -40px;
	left: -20px;
	border: 2px solid #000;
	width: 60px;
	height: 60px;
}

div.container-fluid .icon-bar {
	margin-bottom: 7px;
	position: relative;
	top: 4px;
	left: -16px;
	border: 3px solid #000;
	width: 40px;
}

#collapsable-nav {
    padding: 0px;
    position: relative;
	background-color: #fff;
    width: 100%;
}

#nav-list {
  margin: 0px;
  width:100%;
}

#nav-list a {
  text-align: center;
  color: #000;
  font-size: 0.8em;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.element {
	border: 2px solid #000;
}



/* MAIN CONTENT */

#main-content {
	margin: 15px;
}

.navbar-header {
    width: 100%;
    font-size: 0.8em;
    font-weight: bolder;
    margin: 15px;
}

h2 {
	padding-top: 15px;
}

.chicken-tile, .beef-tile, .sushi-tile {
	background-color: #949297;
}


.filling-text, .filling-text a {
	font-size: 0.7em;
	margin: 15px;
}


.filling-text a {
	color: #0011ff;
	font-size: 0.9em;
}



/* MEDIA QUERIES */


/**** large devices ****/

@media (min-width: 992px) {
	#header-nav {
		height: 100px;
	}
}


/**** medium devices only ****/

@media (min-width: 768px) and (max-width: 991px) {
	
	#header-nav {
	   height: 100px;
	}

	#sushi-col {
		width: 100%;
		}
}

/**** small devices only ****/

@media (min-width: 390px) and (max-width: 767px) {
    #main-content {
    	margin: 40px;
    }

}

/**** extra small devices only ****/

@media (max-width: 390px) {


    #company-title {
		width: 100%;
		position: relative;
		left: 0px;
		top: 50px;
		font-size: 8vw;
    }

    button.navbar-toggle {
		position: relative;
		top: -12px;
		left: -10px;
		width: 50px;
		height: 50px;
	}

	div.container-fluid .icon-bar {
        margin-bottom: 5px;
		position: relative;
		top: 1px;
		left: -19px;
		border: 3px solid #000;
		width: 35px;
	}

}
